#!/bin/sh

alias \
  ll='ls -alFh --color=auto --group-directories-first' \
  ls='ls -alFh --color=auto --group-directories-first' \
  grep='grep --color=auto' \
  fgrep='fgrep --color=auto' \
  egrep='egrep --color=auto' \
	diff="diff --color=auto" \
	highlight="highlight --out-format=ansi" \
	cp="cp -iv" \
	mv="mv -iv" \
	rm="rm -vI" \
	bc="bc -ql" \
	mkdir="mkdir -pv"

# sudo not required for some system commands
#for x in mount umount sv pacman updatedb su ; do
#  alias $x="sudo $x"
#done

# Put this function to your .bashrc file.
# Usage: mv oldfilename
# If you call mv without the second parameter it will prompt you to edit the filename on command line.
# Original mv is called when it's called with more than one argument.
# It's useful when you want to change just a few letters in a long name.
function mv() {
  if [ "$#" -ne 1 ]; then
    command mv "$@"
    return
  fi
  if [ ! -f "$1" ]; then
    command file "$@"
    return
  fi

  read -ei "$1" newfilename
  mv -v "$1" "$newfilename"
}

