#!/bin/sh

alias \
  ll='exa -alg --group-directories-first' \
  ls='ls -alFh --color=auto --group-directories-first' \
  grep='grep --color=auto' \
  fgrep='fgrep --color=auto' \
  egrep='egrep --color=auto' \
	diff="diff --color=auto" \
	highlight="highlight --out-format=ansi" \
	cp="cp -iv" \
	mv="mv -iv" \
	rm="rm -vI" \
	bc="bc -ql" \
	mkdir="mkdir -pv" \
  kb="setxkbmap pl,de -option grp:alt_space_toggle -option compose:rctrl -option ctrl:nocaps" \
  gp='git pull --rebase --autostash' \
  ga='git add . && git commit --amend --no-edit'  \
  gf='git push --force'


function m() {
  if [ "$#" -ne 1 ]; then
    command mv "$@"
    return
  fi
  if [ ! -f "$1" ]; then
    command file "$@"
    return
  fi

  read -ei "$1" newfilename
  mv -v "$1" "$newfilename"
}

